@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form>
        <div>
            <label>ID</label>
            <input type="number" placeholder="Enter Student ID">
            <label>Name</label>
            <input type="text" placeholder="Name">
            <label>Age</label>
            <input type="number" placeholder="Age">
        </div>
        <div style="margin:10px">
        <button  type="submit">Insert</button>
        <button type="submit">Delete</button>
        <button type="submit">Update</button>
        <button type="submit">Search</button>

        </div>
    </form>
</div>